<div>
  <h3>{{ post.content }}</h3>
  <p>
  <span class="button is-small is-info" (click)='likeToPost(post.hearts)'>
  <i class="fa fa-thumbs-o-up"></i>
  </span><span class="button is-small is-info" (click)='dislikeToPost(post.hearts)'>
  <i class="fa fa-thumbs-o-down"></i>
  </span>
  <span class="button is-small is-danger" (click)='deletePost(post?.id)'><i class="fa fa-times"></i></span>
  <span class="button is-small is-warning" (click)='updatePost(post?.id)'><i class="fa fa-check"></i></span>
  
</p>
<p>This post has been like {{ post.hearts || 0 }} times.</p>
</div>
